.swiper-container
{
    background: #fafafa;
    height: 44px;
    border-bottom: 1px solid #dbdbdb;

    .swiper-slide
    {
        text-align: center;
        line-height: 44px;
        font-size: 14px;
        height: auto;

        &.selected
        {
            color: $theme;
            border-bottom: 2px solid $theme;
        }
    }
}
.banner
{
    height: 200px;

    img
    {
        width: 100%;
        height: 200px;
    }
    .swiper-pagination-bullet-active
    {
        background: $theme;
    }
}
.search
{
    padding: 20px;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    form
    {
        display: flex;
        justify-content: space-between;
    }
    &_area
    {
        border: none;
        background: none;
        -webkit-appearance: none;
        color: #fff;
        font-size: 12px;
    }
    &_box
    {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 1px solid $theme;
        float: left;
        text-indent: 25px;
        box-shadow:0px 0px 0px rgba(0,0,0,0);
        -webkit-appearance:none;

        &:focus
        {
            outline: none;
        }
    }
    &_submit
    {
        border: none;
        background: none;
        color: $theme;
        text-decoration: underline;
        font-size: 14px;
    }
    .area
    {
        line-height: 30px;

        img
        {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
    .wrap
    {
        width: 60%;
        height: 30px;
        position: relative;

        img
        {
            width: 25px;
            height: 25px;
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -12.5px;
        }
    }
    .sm
    {
        font-size: 12px;
        color: #fff;
        line-height: 30px;

        img
        {
            width: 25px;
            height: 25px;
            vertical-align: middle;
        }
    }
}
.shop
{
    &_list
    {
        a
        {
            display: block;
            color: #000;
            text-decoration: none;
            padding: 20px;
            border-bottom: 1px solid #e1e1e1;
        }
    }
    &_title
    {
        margin-bottom: 10px;
    }
    &_evaluation
    {
        font-size: 14px;
        color: #9b9b9b;
        overflow: hidden;

        &_number
        {
            color: $theme;
        }
        &_distance
        {
            float: right;
        }
    }
}