.nav
{
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;

    &_evaluation, &_details
    {
        width: 50%;
        height: 43px;
        text-align: center;
        float: left;
        color: #737373;

        &.selected
        {
            color: $theme;
            border-bottom: 2px solid $theme;
        }
    }
}
.evaluation
{
    @include frame('icon/check-box', 'icon/checked-box');

    &_quantity
    {
        margin: 10px 0;
        padding: 15px 0 15px 60px;
        color: #999999;
        background: #fff;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;

        &_number
        {
            color: $theme;
            font-size: 50px;
        }
    }
    &_content
    {
        background: #fff;
        min-height: calc(100vh - 193px);

        &_title
        {
            color: #535353;
            padding: 15px 32px;
            font-weight: normal;
            font-size: 14px;
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
        }
        &_wrap
        {
            padding-left: 32px;

            label
            {
                vertical-align: middle;
                margin-right: 10px;
            }
            &_row
            {
                margin-top: 16px;
                font-size: 14px;
                letter-spacing: 2px;

                &:last-child
                {
                    padding-bottom: 10px;
                }
                ul
                {
                    list-style: none;

                    li
                    {
                        margin-top: 10px;
                        overflow: hidden;
                        padding-left: 31px;

                        .left
                        {
                            float: left;
                        }
                        .right
                        {
                            float: right;
                            width: calc(100% - 31px);
                        }
                    }

                }
            }
        }
    }
    &_footer
    {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: $theme;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
}
.details
{
    &_wrap
    {
        margin: 10px 0;
        background: #fff;
        border-top: 1px solid #e4e2e3;
        border-bottom: 1px solid #e4e2e3;

        img
        {
            width: 21px;
            height: 26px;
            margin-right: 10px;
            vertical-align: middle;
        }
        li
        {
            list-style: none;
            padding: 15px 23.5px;
            border-bottom: 1px solid #e4e2e3;
            font-size: 14px;

            &:last-child
            {
                border: none;
            }
        }
    }
}